.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgba(221, 188, 255, 0.7);
  stroke: none;
}

[data-theme="dark"] .svgCurve {
  fill: rgba(26, 26, 26, 0.8);
}
