.link{
  position: relative;
  display: flex;
  align-items: center;
  
  .indicator{
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 50%;
      position: absolute;
      left: -30px;
  }
}

[data-theme="dark"] .link .indicator {
  background-color: rgba(255, 255, 255, 0.9);
}