@use "../../lib/utils_scss/mixins";
.text-adaptive-title {
  @include mixins.adaptiveValue(font-size, 30, 20);
}

$primary-500: rgb(207, 98, 209);
$secondary-500: rgb(28, 203, 252);

.hire-me-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, $primary-500, $secondary-500, $primary-500);
  background-size: 300%;
  border-radius: 6px;
  z-index: 1;
}

.hire-me-button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.hire-me-button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, $primary-500, $secondary-500, $primary-500);
  background-size: 400%;
  border-radius: 10px;
  transition: 1s;
}

.hire-me-button:hover::before {
  filter: blur(20px);
}

.hire-me-button:active {
  background: linear-gradient(32deg, $primary-500, $secondary-500, $primary-500);
}