
// About section styles
.adaptive-gap-about {
  gap: 2rem;
}

@media (max-width: 768px) {
  .adaptive-gap-about {
    gap: 1rem;
  }
}


html {
  scroll-padding-top: 70px; 
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
} 