.menu {
  height: 100vh;
  background: rgba(221, 188, 255, 1);
  box-shadow: 0 2px 9px rgba(116, 6, 103, 0.1);
  position: fixed;
  right: -5px;
  top: 0;
  color: rgba(0, 0, 0, 0.8);

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px 70px 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 40px;
      gap: 12px;

      a {
        text-decoration: none;
        font-weight: 300;
      }
    }
  }
}

[data-theme="dark"] .menu {
  background: rgba(26, 26, 26, 0.95);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);

}
