@use "../../lib/utils_scss/mixins";
.image-adaptive {
  @include mixins.adaptiveValue(width, 700, 290);
}

.text-adaptive-demo {
  @include mixins.adaptiveValue(font-size, 30, 20);
}

.button-demo {
  &:hover {
    background-color: #f00;
    &::before {
      background: #000000b5;
    }
  }

  &::before {
    transition: all, 0.3s;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    position: absolute;
  }
  .demo-button-text {
    @include mixins.adaptiveValue(font-size, 28, 18);
  }
}
